xstdcmap-1.0.1.tar.bz2
xsetroot-1.0.3.tar.bz2
xsetpointer-1.0.1.tar.bz2
xsetmode-1.0.0.tar.bz2
xset-1.0.4.tar.bz2
xrefresh-1.0.3.tar.bz2
xrdb-1.0.6.tar.bz2
xrandr-1.3.0.tar.bz2
xmodmap-1.0.4.tar.bz2
xhost-1.0.3.tar.bz2
xgamma-1.0.3.tar.bz2
sessreg-1.0.5.tar.bz2
rgb-1.0.3.tar.bz2
iceauth-1.0.3.tar.bz2
